<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  type="text/css">

    <link href="../bower_components/jquery-ui/themes/vader/jquery-ui.css" rel="stylesheet"  type="text/css">

    <link href="../css/test.css" rel="stylesheet"  type="text/css">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



</head>

<body>
<div class="panel panel-default" ng-controller="Hello">

    <div >
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                Select File
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-model="selectedFile.value" ng-repeat="x in files.files" ng-click="selectedFilesChanged(x)">
                    <a href="javascript:void(0)">{{x}}</a>
                </li>
            </ul>
        </li>
        <textarea>{{file}}</textarea> <button type="button" class="btn btn-default" ng-click="processCSV()">Process CSV File</button>
        <textarea>{{convertedCSV}}</textarea> <button type="button" class="btn btn-default" ng-click="combineFiles()">Combine Files</button>
        <select id="MPSSelection" name="mps_selection" class="form-control">
            <option value="x">MPS 1</option>
            <option value="y">MPS 2</option>
        </select>
    </div>

    <!--Vendor Selecting for Reports-->
    <div >
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                Select Vendor
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-model="selectedVendor.value" ng-repeat="x in vendors" ng-click="selectedVendorChanged(x)">
                    <a href="javascript:void(0)">{{x}}</a>
                </li>
            </ul>
        </li>
        <textarea>{{vendor}}</textarea>
    </div>

    <div >
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                Select Date of Report
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-model="selectedVendorDate.value" ng-repeat="x in vendorDates.vendorDates" ng-click="vendorDateChanged(x)">
                    <a href="javascript:void(0)">{{x}}</a>
                </li>
            </ul>
        </li>
        <textarea>{{date}}</textarea>
    </div>

    <!--Date Selecting for Reports-->
    <div >
        <div >
            <div class="container">
                Select a Date
                <input type="text" id="datepicker">
            </div>
        </div>
    </div>

    <div >
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                Select Vendor for Report
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-model="selectedDateVendor.value" ng-repeat="x in dateVendors.dateVendors" ng-click="dateVendorChanged(x)">
                    <a href="javascript:void(0)">{{x}}</a>
                </li>
            </ul>
        </li>
        <textarea>{{vendor}}</textarea>
    </div>
</div>

    <!-- angular -->
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>

    <script src="../bower_components/jquery-ui/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="../js/app.js"></script>

    <script type="text/javascript" src="../js/controller.js"></script>


</body>

</html>
